:root {
    --clr-light: #fff;
    --clr-gray: #ccc;
    --clr-dark: #111;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
}


h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    color: var(--clr-light);
}

h3 {
    color: var(--clr-dark);
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
}

span {
    color: var(--clr-light);
}

.game-window {
    border: 2px solid var(--clr-dark);
    margin: auto;
    height: 60vh;
    width: 80vw;
    border-radius: 25px;
}

.choises {
    width: 70%;
    background-color: var(--clr-grey);
    padding: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    flex: 1;
    gap: 4em;
}

.rock {
    width: 5vw;
    height: 15vw;
    background-image: url(/assets/images/rock.png);
    background-size: 100% 100%;
    transition: 0.5s;
    transform: scale(1);
    text-align: center;
    border-radius: 25px;
    flex: 1;
}

.rock:hover {
    background-color: var(--clr-light);
    transform: scale(1.1); 
    z-index: 2;
    box-shadow: 10px 10px 10px 10px var(--clr-gray);
    flex: 1;
}

.paper {
    width: 5vw;
    height: 15vw;
    background-image: url(/assets/images/paper.png);
    background-size: 100% 100%;
    background-size: fill;
    transition: 0.5s;
    transform: scale(1);
    text-align: center;
    border-radius: 25px;
    flex: 1;
}

.paper:hover {
    background-color: var(--clr-light);
    transform: scale(1.1); 
    z-index: 2;
    box-shadow: 10px 10px 10px 10px var(--clr-gray);
    flex: 1;
}

.scissors {
    width: 5vw;
    height: 15vw;
    background-image: url(/assets/images/scissor.png);
    background-size: 100% 100%;
    transition: 0.5s;
    transform: scale(1);
    text-align: center;
    border-radius: 25px;
    flex: 1;
}

.scissors:hover {
    background-color: var(--clr-light);
    transform: scale(1.1); 
    z-index: 2;
    box-shadow: 10px 10px 10px 10px var(--clr-gray);
    flex: 1;
}

.score {
    width: 90%;
    background-color: var(--clr-grey);
    padding: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    flex: 1;
    
}

.your-score {
    width: 40vw;
    height: 10vh;
    background-color: var(--clr-dark);
    margin: 10px;
    transition: 0.5s;
    transform: scale(1);
    text-align: center;
    border-radius: 25px;
}

.oponent-score {
    width: 40vw;
    height: 10vh;
    background-color: var(--clr-dark);
    margin: 10px;
    transition: 0.5s;
    transform: scale(1);
    text-align: center;
    border-radius: 25px;
}